/* GLOBAL RULES */
.storename1 {
  font-family: "Inria Serif", serif;
  color: white
}

.storename2 {
  font-family: "Inria Serif", serif;
  color: white
}

.storename3 {
  font-family: "Inria Serif", serif;
  color: white
}

.storename4 {
  font-family: "Inria Serif", serif;
  color: white
}

.w-specials {
  font-family: "Inria Serif", serif;
  color: white;
  text-shadow: 0 2px 3px #ff66c4, 2px 0 3px #5ce1e6;
}

.drops {
  font-family: "Inria Serif", serif;
  color: white;
  text-shadow: 0 2px 3px #ff66c4, 2px 0 3px #5ce1e6;
}

.Daily {
  font-family: "Inria Serif", serif;
  color: white;
  text-shadow: 0 2px 3px #ff66c4, 2px 0 3px #5ce1e6;
}

.mondays {
  color: #008037;
  font-family: "Inria Serif", serif;
  text-shadow: 0 2px 3px #ff66c4, 2px 0 3px #5ce1e6;
}

.tuesdays {
  color: #8c52ff;
  font-family: "Inria Serif", serif;
  text-shadow: 0 2px 3px #ff66c4;
}

.wednesdays {
  color: #ffde59;
  font-family: "Inria Serif", serif;
  text-shadow: 0 2px 3px #ff66c4;
}

.thursday {
  color: #ff66c4;
  font-family: "Inria Serif", serif;
  text-shadow: 0 2px 3px #5ce1e6;
}

.specials {
  color: #5ce1e6;
  font-family: "Inria Serif", serif;
}


 .marketing{
  margin-top: 5%;
}

/* DESKTOP RULES */
@media all and (min-width:1200px) {

  /*CONTAINERS*/
  .body {
    margin: 0;
    text-align: center;
  }

  .shadow {
    position: absolute;
    max-width: 45%;
    max-height: 45%;
    top: 50%;
    left: 50%;
    overflow: visible;
    text-align: center;
  }

  .shadow1 {
    position: absolute;
    max-width: 45%;
    max-height: 45%;
    top: 10%;
    left: 30%;
    overflow: visible;
    text-align: left;
  }

  /**.innershadow{
    position: absolute;
    max-width: 35%;
    max-height:35%;
    top:50%;
    left:50%;
    overflow:visible;
  }**/
  /**.slide-content{
    position:relative;
      max-width:100%;
      max-height:100%;
      margin-top:-50%;
      margin-left:-50%;
  }**/
  /*IMGAGES*/
  .flyingbird {
    position: absolute;
    top: 15%;
    width: 35%;
    height: 35%;
    transform: rotateY(180deg);
  }

  .logobird {
    width: 90px;
    height: 90px;
    position: absolute;
    top: -60px;
    left: -500px;
  }

  .logobird1 {
    width: 90px;
    height: 90px;
    position: absolute;
    margin-top: -21%;
    right: -38%;
  }

  .logobird-2 {
    width: 90px;
    height: 90px;
    position: absolute;
    margin-top: -21%;
    right: -90%;
  }

  .poster {
    opacity: .8;
    position: absolute;
    left: 9%;
  }

  /**H1 and p**/
  .storename1 {
    max-width: 100%;
    max-height: 100%;
    margin-top: -70%;
    margin-left: -59%;
    position: relative;
    font-size: 6vw;
    z-index: 88;
  }

  .storename2 {
    position: absolute;
    left: -65%;
    font-size: 3vw;
  }

  .storename3 {
    position: absolute;
    right: -45%;
    top: -2%;
    font-size: 3vw;
    text-shadow: 0 2px 3px #ff66c4, 2px 0 3px #5ce1e6;
  }

  .storename4 {
    position: absolute;
    margin-top: -12%;
    right: -100%;
    font-size: 3vw;
    text-shadow: 0 2px 3px #ff66c4, 2px 0 3px #5ce1e6;
  }

  .slogan1 {
    position: relative;
    font-family: "Open Sans", sans-serif;
    color: white;
    /**font-size: 28px;**/
    font-size: 2vw;
    z-index: 88;
    white-space: nowrap;
    max-width: 75%;
    max-height: 75%;
    margin-top: -5%;
    margin-left: -48%;
    letter-spacing: .2rem;
  }

  .w-specials {
    position: relative;
    right: 17%;
    font-size: 5vw;
    white-space: nowrap;
  }

  .drops {
    position: relative;
    margin-top: 30%;
    margin-bottom: -35%;
    right: -10%;
    font-size: 5vw;
    white-space: nowrap;
  }

  .Daily {
    font-size: 5vw;
    white-space: nowrap;
  }

  .mondays {
    font-size: 2.5vw;
    white-space: nowrap;
  }

  .tuesdays {
    font-size: 2.5vw;
    white-space: nowrap;
  }

  .wednesdays {
    font-size: 2.5vw;
    white-space: nowrap;
  }

  .thursday {
    font-size: 2.5vw;
    white-space: nowrap;
  }

  .specials {
    font-size: 3vw;
    white-space: nowrap;
  }

  /*BUTTONS*/
  .menu-btn {
    position: relative;
    background-color: #7ed957;
    color: white;
    text-align: center;
    border: none;
    font-size: 21.6px;
    cursor: pointer;
    padding: 15px 32px;
    display: inline-block;
    margin-top: 60%;
    margin-left: -100%;
    border-radius: 12px;
  }

  .menu-btn:hover {
    background-color: #3e8e41;
  }

  .menu-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .menu-btn-1 {
    position: absolute;
    background-color: #7ed957;
    color: white;
    text-align: center;
    border: none;
    font-size: 21.6px;
    cursor: pointer;
    padding: 15px 32px;
    display: inline-block;
    margin-top: 90%;
    margin-left: 34%;
    border-radius: 12px;
    white-space: nowrap;
  }

  .menu-btn-1:hover {
    background-color: #3e8e41;
  }

  .menu-btn-1:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .menu-btn-2 {
    position: absolute;
    background-color: #7ed957;
    color: white;
    text-align: center;
    border: none;
    font-size: 21.6px;
    cursor: pointer;
    padding: 15px 32px;
    display: inline-block;
    margin-top: 90%;
    margin-left: 50%;
    border-radius: 12px;
    white-space: nowrap;
  }

  .menu-btn-2:hover {
    background-color: #3e8e41;
  }

  .menu-btn-2:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  /*Circles*/
  .circle {
    border: 8px solid #c3864f;
    border-radius: 50%;
    width: 340px;
    height: 340px;
    /**z-index: 66;**/
    /**max-width: 100%;**/
    max-height: inherit;
    position: relative;
    margin-top: -37%;
    margin-left: 3%;
  }

  .othercircle {
    border: 2px solid #c3864f;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    z-index: 86;
    position: absolute;
    top: -3%;
    left: -47%;
  }

  .othercircles {
    border: 2px solid #c3864f;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    z-index: 86;
    position: absolute;
    top: -15%;
    right: -49%;
  }

  .othercircles-2 {
    border: 2px solid #c3864f;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    z-index: 86;
    position: absolute;
    top: -15%;
    right: -105%;
  }
}

/* TABLET RULES */
@media all and (min-width:501px) and (max-width:1199px) {
  /*CONTAINERS*/
  .body {
    margin: 0;
    text-align: center;
  }

  .shadow {
    position: absolute;
    max-width: 45%;
    max-height: 45%;
    top: 50%;
    left: 50%;
    overflow: visible;
    text-align: center;
  }

  .shadow1 {
    position: absolute;
    max-width: 45%;
    max-height: 45%;
    top: 10%;
    left: 30%;
    overflow: visible;
    text-align: left;
  }

  /**.innershadow{
    position: absolute;
    max-width: 35%;
    max-height:35%;
    top:50%;
    left:50%;
    overflow:visible;
  }**/
  /**.slide-content{
    position:relative;
      max-width:100%;
      max-height:100%;
      margin-top:-50%;
      margin-left:-50%;
  }**/
  /*IMGAGES*/
  .flyingbird {
    position: absolute;
    top: -5%;
    left: -10%;
    width: 35%;
    height: 35%;
    transform: rotateY(180deg);
  }

  .logobird {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 1%;
    left: -57%;
  }

  .logobird1 {
    width: 60px;
    height: 60px;
    position: absolute;
    margin-top: -11%;
    right: -58%;
  }

  .logobird-2 {
    width: 60px;
    height: 60px;
    position: absolute;
    margin-top: -7%;
    right: -84%;
  }

  .poster {
    opacity: .8;
    position: absolute;
    margin-top: 10%;
    left: 9;
    display: flex;
    height: 365px;
    width: 280px;
  }

  /**H1 and p**/
  .storename1 {
    max-width: 100%;
    max-height: 100%;
    margin-top: -60%;
    margin-left: -59%;
    position: relative;
    font-size: 6vw;
    z-index: 88;
  }

  .storename2 {
    position: absolute;
    top: 15%;
    left: -65%;
    font-size: 3vw;
  }

  .storename3 {
    position: absolute;
    right: -63%;
    margin-top: -2%;
    font-size: 3vw;
    z-index: 89;
    text-shadow: 0 2px 3px #ff66c4, 2px 0 3px #5ce1e6;
  }

  .storename4 {
    position: absolute;
    margin-top: 5%;
    right: -90%;
    font-size: 3vw;
    z-index: 89;
    text-shadow: 0 2px 3px #ff66c4, 2px 0 3px #5ce1e6;
  }

  .slogan1 {
    position: relative;
    font-family: "Open Sans", sans-serif;
    color: white;
    /**font-size: 28px;**/
    font-size: 2vw;
    z-index: 88;
    white-space: nowrap;
    max-width: 75%;
    max-height: 75%;
    margin-top: -5%;
    margin-left: -48%;
    letter-spacing: .2rem;
  }

  .w-specials {
    position: relative;
    margin-top: 15%;
    margin-bottom: -10%;
    right: 17%;
    font-size: 4vw;
    white-space: nowrap;
  }

  .drops {
    position: relative;
    margin-top: 30%;
    margin-bottom: -35%;
    right: -10%;
    font-size: 5vw;
    white-space: nowrap;
  }

  .Daily {
    font-size: 5vw;
    white-space: nowrap;
  }

  .mondays {
    font-size: 2.5vw;
    white-space: nowrap;
  }

  .tuesdays {
    font-size: 2.5vw;
    white-space: nowrap;
  }

  .wednesdays {
    font-size: 2.5vw;
    white-space: nowrap;
  }

  .thursday {
    font-size: 2.5vw;
    white-space: nowrap;
  }

  .specials {
    font-size: 3vw;
    white-space: nowrap;
  }

  /*BUTTONS*/
  .menu-btn {
    position: relative;
    background-color: #7ed957;
    color: white;
    text-align: center;
    border: none;
    font-size: 21.6px;
    cursor: pointer;
    padding: 10px 24px;
    display: inline-block;
    margin-top: 60%;
    margin-left: -100%;
    border-radius: 24px;
  }

  .menu-btn:hover {
    background-color: #3e8e41;
  }

  .menu-btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .menu-btn-1 {
    position: absolute;
    background-color: #7ed957;
    color: white;
    text-align: center;
    border: none;
    font-size: 21.6px;
    cursor: pointer;
    padding: 10px 24px;
    display: inline-block;
    margin-top: 105%;
    margin-left: 10%;
    border-radius: 24px;
    white-space: nowrap;
  }

  .menu-btn-1:hover {
    background-color: #3e8e41;
  }

  .menu-btn-1:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .menu-btn-2 {
    position: absolute;
    background-color: #7ed957;
    color: white;
    text-align: center;
    border: none;
    font-size: 21.6px;
    cursor: pointer;
    padding: 10px 24px;
    display: inline-block;
    margin-top: 90%;
    margin-left: 30%;
    border-radius: 24px;
    white-space: nowrap;
  }

  .menu-btn-2:hover {
    background-color: #3e8e41;
  }

  .menu-btn-2:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  /*Circles*/
  .circle {
    border: 8px solid #c3864f;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    /**z-index: 66;**/
    /**max-width: 100%;**/
    max-height: inherit;
    position: relative;
    margin-top: -40%;
    margin-left: 3%;
  }

  .othercircle {
    border: 2px solid #c3864f;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    z-index: 86;
    position: absolute;
    top: 6%;
    left: -47%;
  }

  .othercircles {
    border: 2px solid #c3864f;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    z-index: 86;
    position: absolute;
    margin-top: -8%;
    right: -75%;
  }

  .othercircles-2 {
    border: 2px solid #c3864f;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    z-index: 86;
    position: absolute;
    margin-top: -4%;
    right: -105%;
  }
}

/**MOBILE RULES**/
@media all and (max-width:500px) {}
